/* ---------------- BASIC LAYOUT --------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f9f9f9;
}

main {
  margin: 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

canvas {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow:0 0 20px 2px rgba(0,0,0,.075);
  margin: 40px 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row.top {
  justify-content: space-between;
}

.row.bottom {
  justify-content: center;
}

.row.top > .left {
  text-align: left;
}

.row.top > .right {
  text-align: right;
}

.row.top > .right, .row.top > .left  {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}




/* ----------------  BUTTONS --------------------- */

.btn {
  align-items: center;
  border: 1px solid transparent;
  text-transform: uppercase;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-flex;
  margin: 0 25px;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  min-height: 3rem;
  padding: 15px 30px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-green {
  background-color: #29A34D;
}

.btn-blue {
  background-color: #3A78F6;
}

.btn-red {
  background-color: #EB5757;
}

.btn-orange {
  background-color: #E4A617;
}

.btn:hover,
.btn:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #2ab453;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #4f8aff;
}

.btn-red:hover,
.btn-red:focus {
  background-color: #ff6868;
}

.btn-orange:hover,
.btn-orange:focus {
  background-color: #f1ad0e;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.btn-green:active {
  background-color: #229b46;
}

.btn-blue:active {
  background-color: #2b5fec;
}

.btn-red:active {
  background-color: #dd4848;
}

.btn-orange:active {
  background-color: #d69213;
}

#add-icon {
  margin-left: 5px;
}

#restart-icon {
  margin-left: 5px;
}

/* ---------------- TEXT --------------------- */

.title {
  margin: 50px 0;
  font-size: 2rem;
  font-weight: 700;
}

.heading {
  font-weight: 500;
  font-size: 1.5rem;
}

input {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 2px;
  box-shadow:0 0 4px 0px rgba(0,0,0,.25);
  background-image:none;
  background-color:transparent;
  border: none;
  min-width: 2ch;
  text-align: center;
  border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

input:focus{
  outline: none;
}



/* ---------------- MEDIA QUERIES  --------------------- */

@media (max-width: 850px) {

  main {
    margin: 0 50px;
  }

  .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .row {
    flex-direction: column;
  }

  .row.top {
    row-gap: 15px;
  }

  .row.bottom {
    row-gap: 25px;
  }
  .row.top > .left, .row.top > .right {
    row-gap: 15px;
  }

  canvas {
    margin: 30px 0;
  }

  .heading {
    text-align: center;
  }

}

 

