/* ---------------- BASIC LAYOUT --------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: "Chivo", system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FAF9F6;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  background-color: #FFF;
  border-radius: 12px;
  box-shadow:0 6px 20px 0 rgba(0,0,0,.19);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row.top {
  justify-content: space-between;
}

.row.bottom {
  justify-content: center;
}

/* ----------------  BUTTONS --------------------- */

.btn {
  align-items: center;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 2rem;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-green {
  background-color: #6D8B74;
}

.btn-blue {
  background-color: #2F8F9D;
}

.btn-red {
  background-color: #FF5D5D;
}

.btn-orange {
  background-color: #FF7F3F;
}

.btn:hover,
.btn:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #80a388;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #3BACB6;
}

.btn-red:hover,
.btn-red:focus {
  background-color: #FF8C8C;
}

.btn-orange:hover,
.btn-orange:focus {
  background-color: #ffa375;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.btn-green:active {
  background-color: #80a388;
}

.btn-blue:active {
  background-color: #3BACB6;
}

.btn-red:active {
  background-color: #FF8C8C;
}

.btn-orange:active {
  background-color: #ffa375;
}

#loop-icon {
  margin-left: 5px;
}

#restart-icon {
  margin-left: 5px;
}

/* ---------------- TEXT --------------------- */

.title {
  margin-bottom: 1rem;
  font-size: 3.25rem;
}

.heading {
  margin: 2rem 1rem;
  text-align: center;
  font-size: 2rem;
}

input {
  padding-left: 5px;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: "Chivo", system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2rem;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  border: solid rgba(0, 0, 0, 0.5) 1px;
  border-radius: 5px;
}

/* ---------------- FONTS --------------------- */

@font-face {
  font-family: "Chivo";
  src: url("fonts/Chivo-Regular.ttf");
}
 
/* ---------------- MEDIA QUERIES  --------------------- */

@media (max-width: 1850px) {
  .heading {
    font-size: 1.75rem;
  }

  .title {
    font-size: 2.75rem;
  }

  input {
    font-size: 1.75rem;
  }
}

@media (max-width: 1200px) {
  .heading {
    font-size: 1.5rem;
  }

  .title {
    font-size: 2.5rem;
  }

  input {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .heading {
    margin: 1rem 0.5rem;
    font-size: 1.25rem;
  }

  .title {
    font-size: 2.25rem;
  }

  input {
    font-size: 1.25rem;
  }
}

@media (max-width: 750px) {
  .heading {
    font-size: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  input {
    font-size: 1rem;
  }
}